@using YES.Dtos.Gallery;
@model IEnumerable<GalleryDto>
<div id="main-slide" class="carousel slide" data-ride="carousel">
    @if (Model != null && Model.Count() > 0)
    {
        int j = 0;
        string sliderImageHtml = string.Empty;
        string active = string.Empty;
        <!-- Indicators -->
        <ol class="carousel-indicators visible-lg visible-md">
            @for (int i = 0; i < Model.Count(); i++)
            {
                active = i == 0 ? "active" : "";
                <li data-target="#main-slide" data-slide-to="@i" class=@active></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                active = j == 0 ? "active" : "";
                <div class="item @active">
                    <img src="@item.ImagePath?.Replace("wwwroot","")" alt="banner">

                </div>
                j++;
            }
        </div>
        <!-- Controllers -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    }
    else
    {
        <!-- Indicators -->
        <ol class="carousel-indicators visible-lg visible-md">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/slider-main/banner0.jpg" alt="banner">

            </div>
            <!--/ Carousel item 1 end -->
            <div class="item">
                <img src="~/images/slider-main/banner1.png" alt="banner">

            </div>
            <!--/ Carousel item 2 end -->
            <div class="item">
                <img src="~/images/slider-main/banner2.jpg" alt="banner">

            </div>
            <!--/ Carousel item 3 end -->
            <div class="item">
                <img src="~/images/slider-main/banner4.jpg" alt="banner">

            </div>
            <!--/ Carousel item 3 end -->
        </div>
        <!-- Carousel inner end-->
        <!-- Controllers -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    }





</div>