@{
    ViewData["Title"] = "MissionAndVision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="banner-area" class="banner-area" style="background-image: url(images/banner/banner1.jpg)">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-heading">
                        <h1 class="border-title border-left">Yes Computer Center</h1>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>

                            <li>vision & Mission</li>
                        </ol>
                    </div>
                </div>
                <!-- Col end -->
            </div>
            <!-- Row end -->
        </div>
        <!-- Container end -->
    </div>
    <!-- Banner text end -->


</div>

<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel_shadow">
                <div class="sliderimg" style="margin: 0px; height: 100px;">
                    <h3 class="border-title border-left" style="color: whitesmoke;">VISION AND MISSION</h3>
                </div>

                <div class="panel-group" id="accordion">
                    <br />
                    <h1>Vission</h1>
                    <p class="text-justify">

                        <b>To be a globally recognized institute committed to excellence in academics, research, knowledge creation and delivery to develop socially-responsible professionals.</b>
                        <br />

                    </p>
                    <h1>Mission</h1>
                    <p class="text-justify">
                        <b>
                            To provide innovation and excellence in academic design, delivery and assessment to ensure holistic development of students for employability, entrepreneurship, and higher education
                            To design and keep the curricula updated, based on changing needs of industry and society worldwide, and to provide experiential learning through industry connect
                            To be at the forefront of emerging technological research, innovation and creation of intellectual property to attract talent
                        </b>
                        <br />
                        To retain talent by building relationships based on professionalism, mutual respect, accountability, engagement and integrity
                        To leverage alumni to inculcate leadership skills, social awareness and a passion for lifelong learning to make students socially-responsible global citizens
                        To build and maintain world-class infrastructure, and adopt modern automation technologies for the purpose of organizational efficiency
                        To identify alternate sources of revenue and augment inflows
                    </p>

                </div>
            </div>
        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section>
